<% include partials/header %>

<div class="jumbotron jumbotron-fluid">
  <% include partials/menu %>
  <div class="container-fluid text-center">
    <h1 class="wow fadeInDown" data-wow-duration="2s">Academy Class</h1>
    <a
      class="btn btn-outline-secondary btn-lg wow fadeInUp"
      data-wow-duration="1s"
      href="#classroomCourses"
      role="button"
      >Explore</a
    >
  </div>
  <span id="classroomCourses"></span>
</div>
<section class="container-fluid webDevelopment">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <img
        src="/images/undraw_Online_learning_re_qw08.png"
        class="img-fluid mx-auto d-block"
        alt=""
      />
      <p>
        I was first introduced to
        <a href="http://www.academyclass.com/" target="_blank">Academy Class</a>
        when I attended a Designers / Developers Fiesta in September 2012 in
        London hosted by them. I listened to guest speakers and their in-house
        trainers talking about different aspects of the web industry.
      </p>
      <p>
        I had a chat with one of their sales people, as I was eager to get
        enrolled in a classroom-based web developer’s course, to assist with
        accelerating my learning. I was relieved that he didn’t deliver a
        hard-sell and took his time explaining the different course options. He
        even introduced me to one of the trainers, who also talked me through a
        few course options. I was impressed with their flexible approach and the
        reasonable prices were also a great lure! I was also given confidence
        that they were credible, as they as an authorized training partner for
        Adobe and Autodesk. The facilities are modern and easy to commute to (a
        short walk from London Waterloo station). They also provide a choice
        between Mac and PC.
      </p>
      <p>
        <a href="http://www.academyclass.com/" target="_blank">Academy Class</a>
        offered many of the modules I was interested in, which are conveniently
        split into different proficiency levels, so I took the plunge and
        enrolled!
      </p>
      <p>
        I opted for the “Become a Web Programmer” training package (see below).
        This is
        <a href="http://www.academyclass.com/" target="_blank">Academy Class</a
        >’ flexibility really came into play that they let me tailor the course
        to suit my needs.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto table-responsive-sm">
      <table class="table table-bordered table-dark">
        <thead>
          <tr class="text-center">
            <th colspan="2">"Become a Web Programmer"</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <th>Original</th>
            <th>Modified</th>
          </tr>
          <tr>
            <td>Dreamweaver 101 Rookie</td>
            <td>HTML5: 101 Rookie</td>
          </tr>
          <tr>
            <td>Dreamweaver ACA Exam</td>
            <td>HTML5 201: Hotshot</td>
          </tr>
          <tr>
            <td>HTML5 101: Rookie</td>
            <td>CSS 101: Rookie</td>
          </tr>
          <tr>
            <td>HTML5 201: Hotshot</td>
            <td>CSS 201: Rookie</td>
          </tr>
          <tr>
            <td>CSS 101: Rookie</td>
            <td>Dreamweaver 101 Rookie</td>
          </tr>
          <tr>
            <td>CSS 201: Hotshot</td>
            <td>JavaScript 101: Rookie</td>
          </tr>
          <tr>
            <td>JavaScript 101: Rookie</td>
            <td>jQuery 201: Hotshot</td>
          </tr>
          <tr>
            <td>jQuery 201: Hotshot</td>
            <td>PHP/MySQL 101: Rookie</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<% include partials/carousel %> <% include partials/footer %>
