<% include partials/header %>	

    <div class="jumbotron jumbotron-fluid">
        <% include partials/menu %>
        <div class="container-fluid text-center">
            <h1>Featured Projects</h1>
            <a class="btn btn-outline-secondary btn-lg" href="#portfolio-page" role="button">Explore</a>
        </div> 	
    </div> 
    <section class="container-fluid" id="portfolio-page">
        <div class="row myPortfolio mx-md-5" id="portfolio1">
            <div class="col-lg-6 mb-5">        
                <img src="/images/freelance-website.png" class="img-fluid mx-auto d-block" alt="">
            </div>        
            <div class="col-lg-6 mb-5">      
                <h2>Ivy Swan - Freelance Web Developer</h2>  
                <p>My own website built in WordPress used for freelance web development.</p>
                <p><strong>Tech used:</strong> <kbd>WordPress</kbd> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>Elementor</kbd></p>  
                <div class="row">
                    <div class="col-lg-12 d-flex">           
                        <a class="btn btn-outline-secondary btn-lg text-uppercase" href="https://github.com/ivyswan/ivyswan" target="_blank" role="button">code</a>
                        <a class="btn btn-outline-secondary btn-lg ml-1 text-uppercase" href="https://ivyswan.com/" target="_blank" role="button">demo</i></a>
                        <a class="btn btn-outline-secondary btn-lg ml-auto" href="/#portfolio" role="button"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>                 
        </div>    
        <hr class="mx-5">
        <div class="row myPortfolio mx-md-5" id="portfolio2">
            <div class="col-lg-6 mb-5">        
                <img src="/images/cygnify-website.png" class="img-fluid mx-auto d-block" alt="">
            </div>             
            <div class="col-lg-6 mb-5">      
                <h2>Cygnify Ltd.</h2>  
                <p>Business coaching and consulting website (on-going project).</p>
                <p><strong>Tech used:</strong> <kbd>WordPress</kbd> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>Elementor</kbd></p>
                <div class="row">
                    <div class="col-lg-12 d-flex">           
                        <a class="btn btn-outline-secondary btn-lg text-uppercase disabled" href="" role="button">code</a>
                        <a class="btn btn-outline-secondary btn-lg ml-1 text-uppercase" href="https://cygnify.co.uk/" target="_blank" role="button">demo</i></a>
                        <a class="btn btn-outline-secondary btn-lg ml-auto" href="/#portfolio" role="button"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>                           
        </div>    
        <hr class="mx-5">
        <div class="row myPortfolio mx-md-5" id="portfolio3">
            <div class="col-lg-6 mb-5">        
                <img src="/images/fluffysheetsph.png" class="img-fluid mx-auto d-block" alt="">
            </div>             
            <div class="col-lg-6 mb-5">      
                <h2>Fluffy Sheets PH</h2>  
                <p>An E-commerce website with an add to cart function, but without a payment gateway.</p>
                <p><strong>Tech used:</strong> <kbd>WordPress</kbd> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>WooCommerce</kbd> <kbd>Elementor</kbd></p>
                <div class="row">
                    <div class="col-lg-12 d-flex">           
                        <a class="btn btn-outline-secondary btn-lg text-uppercase disabled" href="" role="button">code</a>
                        <a class="btn btn-outline-secondary btn-lg ml-1 text-uppercase" href="https://www.fluffysheetsph.com/" target="_blank" role="button">demo</i></a>
                        <a class="btn btn-outline-secondary btn-lg ml-auto" href="/#portfolio" role="button"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>                           
        </div> 
        <hr class="mx-5">
        <div class="row myPortfolio mx-md-5" id="portfolio4">
            <div class="col-lg-6 mb-5">        
                <img src="/images/snoozeph.png" class="img-fluid mx-auto d-block" alt="">
            </div>             
            <div class="col-lg-6 mb-5">      
                <h2>Snooze PH</h2>  
                <p>A marketing website built in a custom WordPress theme.</p>
                <p><strong>Tech used:</strong> <kbd>WordPress</kbd> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>Sass</kbd> <kbd>JavaScript</kbd> <kbd>Bootstrap</kbd> <kbd>wow.js</kbd> <kbd>Gulp</kbd> <kbd>Git</kbd></p>
                <div class="row">
                    <div class="col-lg-12 d-flex">           
                        <a class="btn btn-outline-secondary btn-lg text-uppercase" href="https://github.com/ivyswan/snoozeph" target="_blank" role="button">code</a>
                        <a class="btn btn-outline-secondary btn-lg ml-1 text-uppercase" href="https://www.snooze-ph.com/" target="_blank" role="button">demo</i></a>
                        <a class="btn btn-outline-secondary btn-lg ml-auto" href="/#portfolio" role="button"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>                           
        </div> 
        <hr class="mx-5"> 
        <div class="row myPortfolio mx-md-5" id="portfolio5">
            <div class="col-lg-6 mb-5">        
                <img src="/images/first_website.png" class="img-fluid mx-auto d-block" alt="">
            </div>        
            <div class="col-lg-6 mb-5">      
                <h2>My First Website</h2>  
                <p>Designed and built a non-responsive personal profile website back in 2013.</p>
                <p><strong>Tech used:</strong> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>jQuery</kbd> <kbd>PHP</kbd></p>    
                <div class="row">
                    <div class="col-lg-12 d-flex">           
                        <a class="btn btn-outline-secondary btn-lg text-uppercase" href="https://github.com/ivyswan/firstwebsite" target="_blank" role="button">code</a>
                        <a class="btn btn-outline-secondary btn-lg ml-1 text-uppercase" href="http://ivyswan.com/firstwebsite.html" target="_blank" role="button">demo</i></a>
                        <a class="btn btn-outline-secondary btn-lg ml-auto" href="/#portfolio" role="button"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>                 
        </div>  
        <hr class="mx-5">
        <div class="row myPortfolio mx-md-5" id="portfolio6">
            <div class="col-lg-6 mb-5">        
                <img src="/images/colour-game.png" class="img-fluid mx-auto d-block" alt="">
            </div>        
            <div class="col-lg-6 mb-5">      
                <h2>Colour Game</h2>  
                <p>Code-along project from The Web Developer Bootcamp by Colt Steele (Udemy).</p>
                <p><strong>Tech used:</strong> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>JavaScript</kbd></p>
                <div class="row">
                    <div class="col-lg-12 d-flex">           
                        <a class="btn btn-outline-secondary btn-lg text-uppercase" href="https://codepen.io/ivyswan/pen/BaaKRzV" target="_blank" role="button">code</a>
                        <a class="btn btn-outline-secondary btn-lg ml-1 text-uppercase" href="https://codepen.io/ivyswan/full/BaaKRzV" target="_blank" role="button">demo</i></a>
                        <a class="btn btn-outline-secondary btn-lg ml-auto" href="/#portfolio" role="button"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>                 
        </div>  
        <hr class="mx-5">
        <div class="row myPortfolio mx-md-5" id="portfolio7">
            <div class="col-lg-6 mb-5">        
                <img src="/images/scorekeeper.png" class="img-fluid mx-auto d-block" alt="">
            </div>             
            <div class="col-lg-6 mb-5">      
                <h2>Score Keeper</h2>  
                <p>Code-along project from The Web Developer Bootcamp by Colt Steele (Udemy).</p>
                <p><strong>Tech used:</strong> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>JavaScript</kbd></p>
                <div class="row">
                    <div class="col-lg-12 d-flex">           
                        <a class="btn btn-outline-secondary btn-lg text-uppercase" href="https://codepen.io/ivyswan/pen/oNNBMpY" target="_blank" role="button">code</a>
                        <a class="btn btn-outline-secondary btn-lg ml-1 text-uppercase" href="https://codepen.io/ivyswan/full/oNNBMpY" target="_blank" role="button">demo</i></a>
                        <a class="btn btn-outline-secondary btn-lg ml-auto" href="/#portfolio" role="button"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>                        
        </div>                 
    </section>

<% include partials/footer %>	