<% include partials/header %>	

    <div class="jumbotron jumbotron-fluid">
        <% include partials/menu %>
        <div class="container-fluid text-center">
            <p>Welcome to my website</p>	 
            <hr class="my-4"> 	
            <h1>Featured Projects</h1>
            <a class="btn btn-outline-secondary btn-lg" href="#myPortfolio" role="button">Explore</a>
        </div> 	
    </div> 
    <section class="container-fluid" id="myPortfolio">
        <div class="row myPortfolio mx-md-5" id="portfolio1">
            <div class="col-lg-6 mb-5">        
                <img src="/images/first_website.png" class="img-fluid mx-auto d-block" alt="">
            </div>        
            <div class="col-lg-6 mb-5">      
                <h2>My First Website</h2>  
                <p>Designed and created a non-responsive personal profile website.</p>
                <p><strong>Tech used:</strong> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>jQuery</kbd> <kbd>PHP</kbd></p>    
                <div class="row">
                    <div class="col-lg-12 d-flex">           
                        <a class="btn btn-outline-secondary btn-lg text-uppercase" href="https://github.com/ivyswan/firstwebsite" target="_blank" role="button">code</a>
                        <a class="btn btn-outline-secondary btn-lg ml-1 text-uppercase" href="http://ivyswan.com/firstwebsite.html" target="_blank" role="button">demo</i></a>
                        <a class="btn btn-outline-secondary btn-lg ml-auto" href="/#portfolio" role="button"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>                 
        </div>    
        <hr class="mx-5">
        <div class="row myPortfolio mx-md-5" id="portfolio2">
            <div class="col-lg-6 mb-5">        
                <img src="/images/first_blog.png" class="img-fluid mx-auto d-block" alt="">
            </div>             
            <div class="col-lg-6 mb-5">      
                <h2>My First Blog</h2>  
                <p>Blog created using WordPress.com.</p>
                <p><strong>Tech used:</strong> <kbd>WordPress</kbd> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>PHP</kbd></p>
                <div class="row">
                    <div class="col-lg-12 d-flex">           
                        <a class="btn btn-outline-secondary btn-lg text-uppercase disabled" href="" role="button">code</a>
                        <a class="btn btn-outline-secondary btn-lg ml-1 text-uppercase" href="https://ivyswan.wordpress.com/" target="_blank" role="button">demo</i></a>
                        <a class="btn btn-outline-secondary btn-lg ml-auto" href="/#portfolio" role="button"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>                           
        </div>    
        <hr class="mx-5">
        <div class="row myPortfolio mx-md-5" id="portfolio3">
            <div class="col-lg-6 mb-5">        
                <img src="/images/colour-game.png" class="img-fluid mx-auto d-block" alt="">
            </div>        
            <div class="col-lg-6 mb-5">      
                <h2>Colour Game</h2>  
                <p>Code-along project from The Web Developer Bootcamp by Colt Steele (Udemy).</p>
                <p><strong>Tech used:</strong> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>JavaScript</kbd></p>
                <div class="row">
                    <div class="col-lg-12 d-flex">           
                        <a class="btn btn-outline-secondary btn-lg text-uppercase" href="https://codepen.io/ivyswan/pen/BaaKRzV" target="_blank" role="button">code</a>
                        <a class="btn btn-outline-secondary btn-lg ml-1 text-uppercase" href="https://codepen.io/ivyswan/full/BaaKRzV" target="_blank" role="button">demo</i></a>
                        <a class="btn btn-outline-secondary btn-lg ml-auto" href="/#portfolio" role="button"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>                 
        </div>  
        <hr class="mx-5">
        <div class="row myPortfolio mx-md-5" id="portfolio4">
            <div class="col-lg-6 mb-5">        
                <img src="/images/scorekeeper.png" class="img-fluid mx-auto d-block" alt="">
            </div>             
            <div class="col-lg-6 mb-5">      
                <h2>Score Keeper</h2>  
                <p>Code-along project from The Web Developer Bootcamp by Colt Steele (Udemy).</p>
                <p><strong>Tech used:</strong> <kbd>HTML</kbd> <kbd>CSS</kbd> <kbd>JavaScript</kbd></p>
                <div class="row">
                    <div class="col-lg-12 d-flex">           
                        <a class="btn btn-outline-secondary btn-lg text-uppercase" href="https://codepen.io/ivyswan/pen/oNNBMpY" target="_blank" role="button">code</a>
                        <a class="btn btn-outline-secondary btn-lg ml-1 text-uppercase" href="https://codepen.io/ivyswan/full/oNNBMpY" target="_blank" role="button">demo</i></a>
                        <a class="btn btn-outline-secondary btn-lg ml-auto" href="/#portfolio" role="button"><i class="fas fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>                        
        </div>                
    </section>

<% include partials/footer %>	