<% include partials/header %>

<div class="jumbotron jumbotron-fluid">
  <% include partials/menu %>
  <div class="container-fluid text-center">
    <h1>How I Started Coding</h1>
    <a
      class="btn btn-outline-secondary btn-lg"
      href="#startCoding"
      role="button"
      >Explore</a
    >
  </div>
  <span id="startCoding"></span>
</div>
<section class="container-fluid webDevelopment">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <img
        src="/images/undraw_web_development_w2vv.png"
        class="img-fluid mx-auto d-block"
        alt=""
      />
      <p>
        One of the things I learned along the way was stepping outside of my
        comfort zone often resulted in positive things happening.
      </p>
      <p>
        I fell into web developing completely by accident and must concede that
        as far as career choices go, being a web developer wasn’t even in my top
        100. I used to work in office administration which was a career I had
        followed since I finished my Bachelor’s degree. When I moved to the UK,
        I had an opportunity to rethink my career path and I was energised by
        the thought of doing something new and fulfilling, that would give me a
        sense of pride and achievement.
      </p>
      <p>
        I have always been interested in visual aspects of the web and had great
        admiration for people who could create amazing looking images. At the
        time, I had a very limited understanding of web-related careers, so I
        decided to start with studying web design.
      </p>
      <p>
        During the first couple of months of my studying, I found that image
        editing or graphic design using Adobe Photoshop wasn’t providing the
        level of fulfilment I expected, so I moved on to the next module in the
        course, which was HTML.
      </p>
      <p>
        I started to tap into a wide range of resources, to assist with my
        learning; YouTube, Stack Overflow (which I find very useful whenever I
        get stuck!), books, online courses, classroom training and events. One
        event in particular gave me a broader understanding of web development
        was Designers/Developers Fiesta hosted in London. It provided the
        opportunity get introduced to the sort of work designers and developers
        do, as well as get insight into the wider industry, and to be with
        people who share the same interest as me was one of the highlights of
        the event. After that, I was hooked and I needed to quench my thirst for
        more web development knowledge.
      </p>
      <p>
        Coding was something completely new and foreign to me and in truth, I
        felt a bit lost for the first few months. My patience was tested
        constantly and I don’t mind admitting that I shed a few tears in
        frustration when I was on the brink of giving up. I made a conscious
        decision to remain determined and I continued reassuring myself that the
        journey was worth the effort.
      </p>
    </div>
  </div>
</section>

<% include partials/carousel %> <% include partials/footer %>
