<% include partials/header %>	

    <div class="jumbotron jumbotron-fluid">
        <% include partials/menu %>
        <div class="container-fluid text-center">
            <p>Welcome to my website</p>	 
            <hr class="my-4"> 	
            <h1>Online Web Courses</h1>
            <a class="btn btn-outline-secondary btn-lg" href="#onlineCourses" role="button">Explore</a>
        </div> 	
    </div> 
    <section class="container-fluid webDevelopment" id="onlineCourses">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <img src="/images/undraw_programmer_imem.png" class="img-fluid mx-auto d-block" alt="">
                <p>During the early days of my new ventures into web development, I had very little idea about what direction I wanted to take, or even what options were available to me, so I loathe investing a lot of time and money on courses, as I didn’t want to risk losing interest, or realise that it was too difficult. I opted to pay a small fee to sign up for an online web design course with a company called <a href="http://www.e-careers.com/" target="_blank">e-Careers</a>, which covered the main aspects of web design and development.</p>
                <p>Being a complete rookie to not only web development, but also to the web industry in general, I struggled to understand some of the jargon and terminology that was used, which made learning difficult. I spent vast amounts of time doing additional research, in an effort to try and understand what I was being taught. Part of the challenge doing online courses, is that you can’t just raise your hand and get the answer, but on the upside, I learned to be resourceful and the research helped to cement what I was learning.</p>
                <p><a href="http://www.e-careers.com/" target="_blank">e-Careers</a> provided a module-based package, which was very interactive. Virtual trainers talk you through the content of each module and regular tests help to verify how well your learning is going. I started by learning how to use Adobe Photoshop. I was introduced to the interface and some of the basic, more commonly-used features. I also got a really good handle on how much time and effort goes into enhancing and editing an image.</p>
                <p>I then turned my attention to HTML and CSS. This is where things got a bit challenging! At first glance, any sort of computer-related coding looks incredibly complicated and it is something I’d never been exposed to. I struggled to grasp some of the concepts and didn’t really know the best way to learn codes, tags, layouts, etc. So I expanded my resources and bought a few books in order for me to understand coding better.</p>
                <img src="/images/undraw_book_lover_mkck.png" class="img-fluid mx-auto d-block" alt="">
                <p>I had to exercise a LOT of patience and determination and over a period of a couple of months, things started to make sense. I found I could code basic web pages from a blank canvas, which was an incredibly rewarding experience!</p>
                <p>I wanted to explore other ways of creating web pages, so I moved on to the Adobe Dreamweaver module. I learnt that it was possible to create a web page without knowing anything about web coding, which at first seemed very appealing, but after a while I found that I could do things quicker by manually coding.</p>
                <p>To complement my web education, I also signed up at <a href="http://www.codecademy.com/" target="_blank">Code Academy</a>, which is a free online training resource for web developers.</p>
                <p>The content was really easy to understand and the modules were simple to follow, which I found particularly useful when studying JavaScript. I could also track my progress online; as well as take tests challenge my knowledge. If I struggled to grasp something, I could pose my question(s) to its support community, who were generally pretty quick to answer! <a href="http://www.codecademy.com/" target="_blank">Code Academy</a> also allows the creation of groups, which allows people studying similar modules to get together and collaborate.</p>
                <p>I had now gained a reasonable handle on what it took to be a front-end web developer, as well as the potential career paths available to me. I was eager to accelerate my learning, so I decided it was time to invest a bit more in my education. I signed up for a classroom-based course with <a href="http://www.academyclass.com/" target="_blank">Academy Class</a>.</p>
            </div>            
        </div>       
    </section>

    <% include partials/carousel %>	
    
<% include partials/footer %>	